:root {
  color-scheme: light dark;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  background-color: #060606;
  color: #d0d6e0;
  padding: 1.5rem 3rem;
  line-height: 1.4;
  margin: 0;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #d0d6e0;
    background-color: #060606;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #F7F8F8;
  }
  a {
    color: #D0D6E0;
  }
  a:hover {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
}


:is(header, footer) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:is(header, footer) nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.hero {
  margin: 4rem 0 3rem 0;
}


.hero h1 {
  font-size: 4.25rem;
  line-height: 1.1;
  margin: 0;
  max-width: 78rem;
}

.text-section p {
  font-size: 1.5rem;
}

.docs-fork {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.docs-fork a {
  padding: 1.5rem 1.5rem 6rem 1.5rem;
  background-color: #28292c;
}

.docs-fork a:hover {
  background-color: #414247;
}

.docs-fork a code {
  font-size: 2rem;
}
