:root {
  color-scheme: light dark;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  padding: 1.5rem 3rem;
  line-height: 1.4;
  margin: 0;
  color: rgba(8, 13, 48, 1);
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: rgba(8, 13, 48, 0.8);
}

a:hover {
  text-decoration: underline;
  color: rgba(8, 13, 48, 1);
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(208, 214, 224);
    background-color: #060606;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #F7F8F8;
  }
  a {
    color: rgba(208, 214, 224, 0.8);
  }

  a:hover {
    text-decoration: underline;
    color: rgba(208, 214, 224, 1);
  }
}


:is(header, footer) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:is(header, footer) nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero {
  margin: 4rem 0 3rem 0;
}

.hero h1 {
  font-size: 4.25rem;
  line-height: 1.1;
  margin: 0;
  max-width: 78rem;
}

.text-section p {
  font-size: 1.5rem;
}

.docs-fork {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.docs-fork a {
  padding: 1.5rem 1.5rem 6rem 1.5rem;
  background-color: #eeeeee;
}

.docs-fork a:hover {
  background-color: #dddddd;
}

@media (prefers-color-scheme: dark) {
  .docs-fork a {
    background-color: #28292c;
  }
  .docs-fork a:hover {
    background-color: #414247;
  }
}

.docs-fork a code {
  font-size: 2rem;
}


.packages-list ul {
  list-style: none;
  padding: 0;
}
.packages-list li {
  border-top: 1px solid currentColor;
}
.packages-list li:last-child {
  border-bottom: 1px solid currentColor;
}
.packages-list li a {
  display: block;
  padding: 0.75rem 0;
}
.packages-list li strong {
  margin: 0 0.5rem 0 0;
}
.packages-list li p {
  margin: 0;
}

.markdown-content code  {
  padding: 3px 5px;
  background-color: #f6f8fa !important;
  overflow: auto;
}

.markdown-content pre code  {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

@media (prefers-color-scheme: dark) {
  .markdown-content code  {
    background-color: #161b22 !important;
    color: rgb(173, 186, 199);
  }
}

.docs-layout {
  max-width: 100%;
  display: grid;
  grid-template-columns: 18rem 1fr;
  gap: 2rem;
}

.docs-layout aside ul {
  list-style: none;
  padding: 0;
}

.docs-layout aside .sticky {
  position: sticky;
  top: 2rem;
}
